{% extends "base.html" %}

{% block title %}Forensics-PDFs | PySAT{% endblock %}

{% block content %}

<div class="container-fluid pt-3">

  <a href="/forensics" class="navigation-link"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>&nbsp;Back</a>

  <div class="row">

    <!-- ***************************** LEFT COL ********************************************** -->

    <div class="col-sm-4 pt-5">
    </div>

    <!-- ***************************** CENTER COL ********************************************** -->

    <div class="col-sm-5 pb-5 rounded">
      <h1 class="text-center"><b class="letter-color">PDF</b><b> analysis</b></h1>
      <p class="description text-center">Surfing throw the pdf</p>


      

    </div>

    <!-- ***************************** RIGHT COL ********************************************** -->

    <div class="col-sm-4">

    </div>
  </div>
</div>



{% endblock %}
