
.hash {
  color: #adadad;
  font-size: 12px;
  font-style: oblique;
}

/* .copy{
  color: #adadad;
  border: none;
  background: #262626;
} */

.copy{
  color: #adadad;
  border: none;
  background: #262626;
}
